<% include ../partials/header.ejs %>

<div class="articleDiv">
        <img src="<%= myArticle.image %>" alt="">
        <h3><%= myArticle.title %></h3>
        <p><%= myArticle.body %></p>
</div>

<a href="/articles">back</a>

<% include ../partials/footer.ejs %>